/* Styling untuk widget Leaflet Map Picker */
.oe_latlong_mappicker {
    height: 350px;
    min-width: 220px;
    border-radius: 6px;
    border: 1.5px solid #bbb;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    margin-bottom: 10px;
    position: relative;
}

.oe_latlong_mappicker .latlong-mappicker-overlay {
    position: absolute;
    left: 16px;
    top: 10px;
    color: #444;
    background: #fff8;
    z-index: 10;
    padding: 1px 7px 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none;
}
.latlong-mappicker-coords {
    margin-top: 8px;
    font-size: 11px;
    color: #333;
}